- const mySub = wird.subscribers.find(sub => sub.user._id.toString() === user._id.toString())
li.wirds-list-item(wird-id=`${wird.uniqueName}`)
    a.wird-list-item-anchor.btn-outline(href=`/wirds/public/${wird._id}`)
        p.wird-name= wird.name 
        p.wird-info صفــ#{mySub.progress.page}ــحه آيـــ#{mySub.progress.verse}ــه
